@using Proyecto.Models
@model Usuario
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Registro.css">
</head>
    <div class="container">
        @using (Html.BeginForm("Registrarse", "Registro", FormMethod.Post, new { @class = "form-signin", enctype = "multipart/form-data" }))
        {
            <h1 class="form-signin-heading">Registro</h1><br />
            @Html.TextBoxFor(x => x.NombreUsuario, new { @class = "form-control", placeholder = "Nombre", required = "", autofocus = "" });
            @Html.ValidationMessageFor(x => x.NombreUsuario);<br />
            @Html.TextBoxFor(x => x.Apellido, new { @class = "form-control", placeholder = "Apellido", required = "", autofocus = "" });
            @Html.ValidationMessageFor(x => x.Apellido);<br />
            @Html.TextBoxFor(x => x.NombreEmpresa, new { @class = "form-control", placeholder = "Nombre de la Empresa", required = "", autofocus = "" });
            @Html.ValidationMessageFor(x => x.NombreEmpresa);<br />
            @Html.TextBoxFor(x => x.Mail, new { @class = "form-control", placeholder = "Email", required = "", autofocus = "" });
            @Html.ValidationMessageFor(x => x.Mail);<br />
            @Html.PasswordFor(x => x.Contraseña, new { @class = "form-control", type = "password", name = "password", placeholder = "Contraseña", required = "", autofocus = "" });
            @Html.ValidationMessageFor(x => x.Contraseña);<br />
            @Html.PasswordFor(x => x.ReContraseña, new { @class = "form-control", type = "password", name = "password", placeholder = "ReContraseña", required = "", autofocus = "" });
            @Html.ValidationMessageFor(x => x.ReContraseña);<br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button><br />
            <p> Para ir al Login haga click <a href=@Url.Action("Login","Registro") title="Ir Login" target="_blank" />Aqui</p>
        }
        <h3>@ViewBag.mensaje</h3>
    </div>
