@using Proyecto.Models
@model Usuario
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Login.css">

</head>

    <div class="container-fluid">

        @using (Html.BeginForm("Login", "Registro", FormMethod.Post, new { @class = "form-signin", enctype = "multipart/form-data" }))
            {
            <h1 class="form-signin-heading">Login</h1><br />
                @Html.TextBoxFor(x => x.Mail, new { @class = "form-control", type = "email", id = "inputEmail", name = "username", placeholder = "Direccion Email", required = "", autofocus = "" });
            @Html.ValidationMessageFor(x => x.Mail);
            @Html.PasswordFor(x => x.Contraseña, new { @class = "form-control", type = "password", name = "password", placeholder = "Contraseña", required = "", autofocus = "" }) ;
            @Html.ValidationMessageFor(x => x.Contraseña);
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button><br />
                <p class="registr"> Para registrarse haga click <a href=@Url.Action("Registrarse","Registro") title="Registrarse" target="_blank">Aqui</a> </p>
        }
        </div>
        <h3>@ViewBag.mensaje</h3>
